@import "../../../styles/colors.module.scss";

.textfield {

    .label {
        color: $blue;
        font-size: 14px;
        padding-bottom: 8px;
    }

    .inputContainer {
        width: 100%;
        display: inline-flex;
        align-items: flex-end;
        flex-direction: column;
        position: relative;
        
        .arrow {
            position: absolute;
            height: 72px;
            width: 32px;
            margin: 0 16px;
        }
        
        select {
            background-color: $light;
            height: 72px;
            width: 100%;
            padding: 16px 24px;
            border: none;
            border-radius: 8px;
            font-size: 24px;
            appearance: none;
        }
    }
}