@import "../../../common/styles/colors.module.scss";
div.rootDiv{
    margin-left: 250px;
    .block {
        width: 500px;
        margin: auto;
        padding: 88px 64px;
        border-radius: 16px;
        border: solid 1px #707070;
        background-color: $green;

        .content {
            overflow-y: scroll;
            max-height: 70vh;
            scrollbar-width: none;

            .textfield {
                margin-top: 16px;
            }
    
            .createBtn {
                height: 56px;
                width: 100%;
                margin-top: 48px;
                border: none;
                border-radius: 8px;
                background-color: $red;
                color: $light;
                font-size: 24px;
                font-weight: bold;
                transition: all ease-in-out 0.2s;
            }
        }
    }
}