@import "../../../common/styles/colors.module.scss";

.login {
	background-color: var(--light);
	height: 100vh;
	width: 100vw;
	display: flex;
	.grid {
		margin: auto;
		display: flex;
		
		.cell {
			width: 50%;
		}

		.left {
			grid-area: 1 / 1 / 2 / 2;
			margin: auto 32px;

			.logo {
				height: 100%;
				width: 100%;

				img {
					margin: auto;
					height: 500px;
					width: 500px;
				}
			}
	
			p {
				font-size: 12px;
				text-align: center;
				
			}
		}

		.right {
			grid-area: 1 / 2 / 2 / 3;

			.loginblock {
				width: 347px;
				height: 371px;
				margin: auto 32px;
				padding: 88px 64px;
				border-radius: 16px;
				border: solid 1px #707070;
				background-color: $green;

				.initBlock {
					height: 100%;
					width: 100%;
					color: $light;
					font-weight: bold;
					text-align: center;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					.loginbtn {
						margin-top: 8px;
					}
				}

				.mainLoader {
					margin: auto;
					color: $light;
					height: 100%;
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					p {
						font-weight: bold;
						padding-top: 16px;
					}

					.mainSpinner {
						left: 25.5px !important;
					}
				}

				.loginfield {
					&:first-child {
						margin-top: inherit;
					}
					margin: 24px auto;
				}

				.loginbtn {
					height: 56px;
					width: 100%;
					margin-top: 48px;
					border: none;
					border-radius: 8px;
					background-color: $red;
					color: $light;
					font-size: 24px;
					font-weight: bold;
					transition: all ease-in-out 0.2s;

					&:hover {
						cursor: pointer;
						background-color: $blue;
					}

					&:active:hover {
						opacity: 0.5;
						cursor: pointer;
					}
				}
			}
		}
	}
}