@import "../../../common/styles/colors.module.scss";

 .login {
	 background-color: var(--light);
	 height: 100vh;
	 width: 100vw;
	 display: flex;
	.grid {
		margin: auto;
		display: flex;
		
		.cell {
			width: 50%;
		}

		.left {
			grid-area: 1 / 1 / 2 / 2;
			margin: auto 32px;

			.logo {
				height: 100%;
				width: 100%;

				img {
					margin: auto;
					height: 500px;
					width: 500px;
				}
			}
	
			p {
				font-size: 12px;
				text-align: center;
				
			}
		}

		.right {
			grid-area: 1 / 2 / 2 / 3;

			.loginblock {
				width: 408px;
				height: 504px;
				margin: auto 32px;
				padding: 88px 64px;
				border-radius: 16px;
				border: solid 1px #707070;
				background-color: $green;

				.loginfield {
					margin: 48px auto;
				}
			  }
		}
	}	
}