@import "../../../styles/colors.module.scss";

.textfield {
    .label {
        color: $blue;
        font-size: 14px;
        padding-bottom: 8px;
    }
    
    .content {
        background-color: $light;
        display: flex;
        flex-direction: row;
        border-radius: 8px;
        position: relative;

        .lead {
            position: absolute;
            height: 100%;
            display: flex;
        }

        input {
            background-color: inherit;
            border: none;
            border-radius: 8px;
            height: 40px;
            width: calc(100% - 48px);
            padding: 16px 24px 16px 80px;
            display: flex;
            font-size: 24px;
    
        }
    }
}