@import "../../../common/styles/colors.module.scss";

div.rootDiv{
    margin-left: 250px;
    float: left;
    
}

div.searchbar{
    margin-left: 232px;
    margin-right: 28px;
    margin-top: 32px;
}

.Icon {
    // margin-left: 232px;
    // margin-top: 32px;
    // width: 40px;
    height: 100%;
    color: #727070
    //display: inline-block;
}