@import "../../styles/colors.module.scss";

.Item {

    .name {
        font-family: AcuminPro;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        //line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: var(--dark);
        padding: 10px 10px 0px;
    }
    .price{
        font-family: AcuminPro;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--dark);
        padding: 0px 10px 0px;
    }
    .Rectangle {
        width: 128px;
        height: 172px;
        margin: 24px 0px 0px 0;
        
        border-radius: 12px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        overflow: hidden;
    
    }
    .image{
        width: 100%;
        height: 120px;
        background-size: cover;
        border-radius: 12px;
    }

 
}