@import "../../styles/colors.module.scss";

.textfield {

    .label {
        color: $blue;
        font-size: 14px;
        padding-bottom: 8px;
    }

    input {
        background-color: $light;;
        height: 40px;
        width: calc(100% - 48px);
        padding: 16px 24px;
        border: none;
        border-radius: 8px;
        font-size: 24px;
    }
}